@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto_wott2/roboto-light-webfont.woff2') format('woff2'),
         url('../font/roboto_wott2/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'apercu';
    src: url('../font/apercu/ApercuPro.woff2') format('woff2'),
         url('../font/apercu/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

/*  background-color: #CBF4C3;*/
}

html, body {	
	/*font:  1em "avenir";*/
	font: 1.1em 'apercu';
	/*font: bold 1.2em 'robotolight';*/
	/*font-family: roboto-light;*/
	/*color: #08596a;*/
	color: /*#c695c6;*/  #a5abb8;

	/* Horizontally center EACH element in a grid with regard to its inline axis*/
	/*justify-content: center;*/
	

	/* Vertically center EACH element in a grid with regard to its cell/track, mor more accurately grid area*/
	/*align-items: center;*/
	
	/*background-color: #e9ebee;*/	/*fb desktop background*/
}

/*body{
	display: grid;
	
	grid-template-rows: repeat(9, 1fr);
	font: 1.5em 'apercu';
	color:   #a5abb8;
	
	height: 100%;
	width: 100%;
}*/

/*body{
	display: grid;
	grid-template-columns: repeat(9, 1fr); 
	grid-template-rows: repeat(11, 1fr); 
	font: 1.5em 'apercu';
	color: #a5abb8;
	
	height: 100%;
	width: 100%;
}*/

.meditations_page_body {

	display: grid;
	

	grid-template-rows: repeat(9, 1fr);
	font: 1.5em 'apercu';
	color: #a5abb8;

	
	height: 100%;
	width: 100%;
}


.settings_page_body {
	display: grid;
	grid-template-columns: repeat(9, 1fr); 
	grid-template-rows: repeat(11, 1fr); 
	font: 1.5em 'apercu';
	color:  #a5abb8; 
	
	height: 100%;
	width: 100%;

}

.individual_meditation_recording_player_body {
	display: grid;
	grid-template-columns: repeat(9, 1fr); 
	grid-template-rows: repeat(11, 1fr); 
	font: 1.5em 'apercu';
	color:  #a5abb8; 
	
	height: 100%;
	width: 100%;

}


/*to be placed inside html element*/
.meditations_page_background {
/*	background: url('https://cdn.statically.io/gh/starlord92/mediatate/1537ecf3/images/early_dawn_background.jpg') no-repeat center center scroll;*/

	/*background: url('https://cdn.statically.io/gh/starlord92/mediatate/ade998d3/images/early_dawn_background%206.jpg') no-repeat center center scroll;*/ 
	/*background-color: rgb(204,214,220);*/ 

	background: url('https://cdn.statically.io/gh/starlord92/mediatate/01ba0bda/images/early_dawn_background%204.jpg') no-repeat center center scroll;
	background-color: rgb(221, 234, 247);
	

	 /*url('https://cdn.statically.io/gh/starlord92/git-visual/519768eb/morning.jpg') no-repeat center center fixed;*/

	background-size: cover;
	
	/*background-color:*/ /*#9de5aa*/ /*#6bcba3*/ /*#2a3743*/ /*#2e3943*/         /*#313c47*/ /*white ;*/
	height: 100%;
	width: 100%;

}

.settings_page_background {
	/*#fafafa;*/ /*#f0f0f0;*/ /*#f5f5f5;*/
	background:  #f8f8f8; /*#f3ebe2;*/ /*rgb(247, 239, 228);*/



	 /*url('https://cdn.statically.io/gh/starlord92/git-visual/519768eb/morning.jpg') no-repeat center center fixed;*/

	/*background-size: cover;*/
	/*background-color:*/ /*#9de5aa*/ /*#6bcba3*/ /*#2a3743*/ /*#2e3943*/         /*#313c47*/ /*white ;*/

	height: 100%;
	width: 100%;
}





/*============INDIVIDUAL MEDITATION RECORDING SUBPAGE======================*/

.individual_meditation_recording_player_background {
	background-color: /*#fafafa;*/ /*#f0f0f0;*/ /*#f5f5f5;*/ /*#f8f8f8;*/

	/*color for 'space' page*/
	/*#f3ebe2;*/ /*#fcf7ef;*/ rgb(247, 239, 228);  /*rgb(221, 234, 247);*/
	height: 100%;
	width: 100%;
}

.individual_meditation_recording_player_9809403065 {
	grid-row-start:1;
	grid-row-end: span 100;
	grid-column-start:1;
	grid-column-end: span 100;


	display: grid;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%
}

#player_9809403065 {


	

}

#recording_player_close_button_9809403065 {
	cursor: pointer;

	position: absolute;
	top: 5%;
	bottom: 90%;
	right: 5%;
	left:90%;

}

/*========================================================================*/

/*========================meditations page elements==========================*/

.recommended_meditation_recording_9809403065 {
	/*containing-block = body*/
	grid-row-start:1;

	display: grid;
	grid-template-columns: minmax(50px, 100px) minmax(150px,300px); 
	grid-template-rows: minmax(50px, 60px) auto;
	grid-row-gap: 20px; 

	
}
	#recommended_meditation_recording_link_9809403065 {
		/*containing-block = recommended_meditation_recording*/
		grid-row-start:3;
		grid-column-start:2;
		grid-column-end:2;

		cursor: pointer;
		
	}

	#recommended_meditation_recording_begin_button_9809403065 {
		/*containing-block = recommended_meditation_recording*/
		grid-row-start:4;
		grid-column-start:2;
		grid-column-end:2;

		cursor: pointer;

		border-radius: 60px ;
		background-color:  #a5abb8;
		color:#2e3943;
		text-align: center;
		font-size: 1.1rem;

		width: 140px;
		height: 40px;
		line-height: 40px;
		
	}

	#recommended_meditation_recording_begin_button_9809403065:hover {
		background-color:  #e2e4e9;
	}


/*.triangle {
	position: relative;
	background-color:rgb(221, 234, 247) ;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  30px;
	height: 30px;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-90.2deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}*/






















.recording_list_a_9809403065, .recording_list_b_9809403065  {
  display: grid;
  grid-gap: 10%;
  grid-column-gap: 20%;
}


.recording_list_a_title_9809403065, .recording_list_b_title_9809403065 {
	font: 1.3rem 'apercu';
	color: #a5abb8;
	text-align: center;
}

.recording_track_a_of_list_a_9809403065:hover
{
	background-color: #7390ab;
}

.recording_track_b_of_list_b_9809403065:hover
{
	background-color: #7390ab;
}


@media (min-width: 100px) {

    .recording_lists_9809403065 {
    	grid-row-start:7;
    	grid-row-end:span 100;
    	
    	display:grid;

    
      	grid-row-gap: 20%;
      	grid-column-gap: 20%;    
    }

	.recording_track_a_of_list_a_9809403065, .recording_track_b_of_list_b_9809403065  {

		border-radius: 5px;
		background-color: #7994af;
		
		
		padding-top: 3.5% ;
		padding-right:5%;
		padding-left: 5%;
		padding-bottom: 3.5%; 

		font: .8em 'apercu';
		color: white;

		cursor: pointer;

	
		width: 45%;

		

		margin:auto;
	}
}

@media (min-width: 1100px) {

	.recording_track_a_of_list_a_9809403065,  .recording_track_b_of_list_ab9809403065 {

		max-width: 600px;

	}

}

@media (min-width: 1400px) {

	.recording_list_a_9809403065 {
  		grid-area: list_a;
	}

	.recording_list_b_9809403065 {
  		grid-area: list_b;
	}

  	.recording_lists_9809403065 {
    	grid-template-column: 1fr 1fr ;
    	grid-template-areas: 
      	"list_a  list_b";
    	grid-gap: 5%;
  	}


/*Actually we don't need to set these properties! they carry over from min-width 100px*/
	.recording_track_a_of_list_a_9809403065, .recording_track_b_of_list_b_9809403065  {
		
		border-radius: 5px;
		background-color: #7994af;
		
		padding: 5%;

		font: .8em 'apercu';
		color: white;

		cursor: pointer;

		width: 60%;

		margin:auto;


	}

  
}


/*===========================================================================*/







/*========================settings page elements=============================*/


/*create a white central column enclosing details of the settings page */ 
.user_profile_section_and_menu_grid_divider_show_9809403065 {
	display: block;
	grid-row-start:1;
	grid-row-end:12;
	grid-column-start:2;
	grid-column-end:9;

	background: white;

	border-radius: ;

	/*border: 5px black solid;*/
}


/*profile pic in settings --------------------------------------------------*/

.user_profile_id_9809403065 {
	grid-row-start:2;
	grid-row-end:3;
	grid-column-start:4;
	grid-column-end:7;

	text-align: center;

	display: grid;
}


.user_profile_pic_9809403065 {
	max-width: 50%; 
    max-height: 150%;
    border-radius: 50%;
 }



/*setting menu elements -----------------------------------------------------*/

	.user_profile_menu_show_9809403065 {
		grid-row-start:3;
		grid-row-end:3;
		grid-column-start:3;
		grid-column-end:8;

		display: grid;
		grid-template-column: 1fr 1fr 1fr;
		grid-template-row: 1fr 1fr 1fr ;
		/*border-right: solid #a5abb8 1.5px;*/
	}

		#user_profile_my_stats_9809403065 {
			grid-row-start:2;
			grid-row-end:2;
			grid-column-start:1;
			grid-column-end:3;
		}

			#user_profile_my_stats_text_9809403065 {
				border-bottom: .5px solid #a5abb8;
				cursor: pointer;
				text-align: center;
			}


		 #user_profile_settings_9809403065 {
			cursor: pointer;
			grid-row-start:2;
			grid-row-end:2;
			grid-column-start:3;
			grid-column-end:5;
		}

			#user_profile_settings_text_9809403065 {
				border-bottom: .5px solid #a5abb8;
				cursor: pointer;
				text-align: center;
			}


		#user_profile_nudge_9809403065 {
			cursor: pointer;
			grid-row-start:2;
			grid-row-end:2;
			grid-column-start:5;
			grid-column-end:7;
		}

			#user_profile_nudge_text_9809403065 {
				border-bottom: .5px solid #a5abb8;
				cursor: pointer;
				text-align: center;
				
			}

/*input[type=submit] {
	font: 0.87em "avenir", sans-serif;
	cursor: pointer;
}
*/


input{
	font: 1em 'apercu' ;
	font-color: #313c47;

	/*border-radius: 10px;*/
}


/*setting's section element--------------------------------------------------*/

	.user_profile_section_show_9809403065 {
		grid-row-start:4;
		grid-row-end:6;
		grid-column-start:3;
		grid-column-end:8;

		display: grid;

	/*	grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;*/

		color: #313c47;
		cursor: initial;
		/*justify-content: center;*/
		/*align-items: top;*/

	/*	height: 100%;
		width:100%;*/
	}

		#settings_options_9809403065 {
/*
			grid-row-start:1;
			grid-row-end:3;
			grid-column-start:1;
			grid-column-end:4;*/

			/*height: 100%;
			width:100%;*/

			/*display: block;*/


		}

			#settings_options_save_9809403065, #nudge_options_save_9809403065 {
				/*grid-row-start:3;
				grid-row-end:3;
				grid-column-start:3;
				grid-column-end:3;
*/

				cursor: pointer;
				border-radius: 3px;
				background-color: #5c84f1;
				color: white;
				padding: 3px;
				font-weight: bold;
				text-align: center;

				 margin: auto;
				 width: 20%

			}

		#my_stats_options_9809403065 {
			display: block;
		}


		#nudge_options_9809403065 {
			display: block;
		}


/*===========================================================================*/





/*==========================bottom fixed nav bar=============================*/
#bottom_fixed_nav_bar_9809403065 {
	position: fixed;
	z-index: 1;
	background-color: white; 
	
	border-top: 2.5px solid #a5abb8 ;
	
	bottom:0;
	right:0;
	left:0;
	width: 100%;
	height: 50px;
	text-align: left;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
}

#front_page_9809403065 {	
	grid-column-start:3;
	cursor: pointer;
}

#meditations_page_9809403065 {	
	grid-column-start:5;
	cursor: pointer;
}

#settings_9809403065 {	
	grid-column-start:7;
	cursor: pointer;
}

/*
===========================================================================
*/



/*.lower_background_9809403065 {
	display: block;
	grid-row-start:3;
	grid-column-start:1;
	grid-column-end:10;
}*/


/*#timer {
	display: grid;
	align-items: center; 
	justify-content: center;
	height: 100%;
	width: 100%;
	
	
}*/
/*
#timer_control, #proceed  {
	border-radius: 10px;
	padding: 4px; *//*percentage value cause padding-right to not work and i don't know why*/

	/*background-color: #2997ff;
	color: white;
	margin: 2%;
	text-align: center;
	cursor: pointer;
}*/

/*#timer_display, #override_nudge {
	background-color: green;
}
*/