@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto_wott2/roboto-light-webfont.woff2') format('woff2'),
         url('../font/roboto_wott2/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	        src: url('https://cdn.statically.io/gh/starlord92/mediatate/9faf7eaf/font/apercu/ApercuPro.woff2') format('woff2'),
         url('https://cdn.statically.io/gh/starlord92/mediatate/9faf7eaf/font/apercu/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu';
    src: url('https://cdn.statically.io/gh/starlord92/mediatate/9faf7eaf/font/apercu/ApercuPro.woff2') format('woff2'),
         url('https://cdn.statically.io/gh/starlord92/mediatate/9faf7eaf/font/apercu/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	box-sizing: border-box;
}

/*  background-color: #CBF4C3;*/
}

html, body {	
	/*font:  1em "avenir";*/
	font: 1.1em 'apercu';
	/*font: bold 1.2em 'robotolight';*/
	/*font-family: roboto-light;*/
	/*color: #08596a;*/
	 /*#c695c6;*/ /* #a5abb8; */

	
	/*background-color: #e9ebee;*/	/*fb desktop background*/
}



.meditations_page_body {
	display: grid;

	grid-template-rows: repeat(9, 1fr);
	font: 1.5em 'apercu';
	color: #a5abb8;
	
	height: 100%;
	width: 100%;
}



/*to be placed inside html element*/
.meditations_page_background {
/*	background: url('https://cdn.statically.io/gh/starlord92/mediatate/1537ecf3/images/early_dawn_background.jpg') no-repeat center center scroll;*/

	/*background: url('https://cdn.statically.io/gh/starlord92/mediatate/ade998d3/images/early_dawn_background%206.jpg') no-repeat center center scroll;*/ 
	/*background-color: rgb(204,214,220);*/ 

	background: url('https://cdn.statically.io/gh/starlord92/mediatate/01ba0bda/images/early_dawn_background%204.jpg') no-repeat center center scroll;
	background-color: rgb(221, 234, 247);
	

	 /*url('https://cdn.statically.io/gh/starlord92/git-visual/519768eb/morning.jpg') no-repeat center center fixed;*/

	background-size: cover;
	
	/*background-color:*/ /*#9de5aa*/ /*#6bcba3*/ /*#2a3743*/ /*#2e3943*/         /*#313c47*/ /*white ;*/
	height: 100%;
	width: 100%;

}

.settings_page_background {
	/*#fafafa;*/ /*#f0f0f0;*/ /*#f5f5f5;*/
	background: /*#f8f8f8;*/ /*#f3ebe2;*/ /*rgb(247, 239, 228);*/ /*rgb(246,248,249);*/ rgb(22,29,42);




	 /*url('https://cdn.statically.io/gh/starlord92/git-visual/519768eb/morning.jpg') no-repeat center center fixed;*/

	/*background-size: cover;*/
	/*background-color:*/ /*#9de5aa*/ /*#6bcba3*/ /*#2a3743*/ /*#2e3943*/         /*#313c47*/ /*white ;*/

	height: 100%;
	width: 100%;
	
}








/*============INDIVIDUAL MEDITATION RECORDING SUBPAGE======================*/



/*========================================================================*/

/*========================meditations page elements==========================*/

.recommended_meditation_recording_9809403065 {
	/*containing-block = body*/
	grid-row-start:1;

	display: grid;
	grid-template-columns: minmax(50px, 100px) minmax(150px,300px); 
	grid-template-rows: minmax(50px, 60px) auto;
	grid-row-gap: 20px; 

	
}



@media (min-width: 1500px) {
	.recommended_meditation_recording_9809403065{
		grid-template-columns: minmax(300px,320px) minmax(150px,300px); 
		grid-template-rows: 160px auto;
	}
}
	#recommended_meditation_recording_link_9809403065 {
		/*containing-block = recommended_meditation_recording*/
		grid-row-start:3;
		grid-column-start:2;
		grid-column-end:2;

		cursor: pointer;		
	}

	#recommended_meditation_recording_begin_button_9809403065 {
		/*containing-block = recommended_meditation_recording*/
		grid-row-start:4;
		grid-column-start:2;
		grid-column-end:2;

		cursor: pointer;

		border-radius: 60px ;
		background-color:  #a5abb8;
		color:#2e3943;
		text-align: center;
		font-size: 1.1rem;

		width: 140px;
		height: 40px;
		line-height: 40px;
		
	}

	#recommended_meditation_recording_begin_button_9809403065:hover {
		background-color:  #e2e4e9;
	}


/*.triangle {
	position: relative;
	background-color:rgb(221, 234, 247) ;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  30px;
	height: 30px;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-90.2deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}*/


.recording_list_a_9809403065, .recording_list_b_9809403065  {
  display: grid;
  grid-gap: 10%;
  grid-column-gap: 20%;
}


.recording_list_a_title_9809403065, .recording_list_b_title_9809403065 {
	font: 1.3rem 'apercu';
	color: #a5abb8;
	text-align: center;
}

.recording_track_a_of_list_a_9809403065:hover
{
	background-color: #7390ab;
}

.recording_track_b_of_list_b_9809403065:hover
{
	background-color: #7390ab;
}


@media (min-width: 100px) {

    .recording_lists_9809403065 {
    	grid-row-start:7;
    	grid-row-end:span 100;
    	
    	display:grid;

      	grid-row-gap: 20%;
      	grid-column-gap: 20%;    
    }

	.recording_track_a_of_list_a_9809403065, .recording_track_b_of_list_b_9809403065  {

		border-radius: 5px;
		background-color: #7994af;
		
		padding-top: 3.5% ;
		padding-right:5%;
		padding-left: 5%;
		padding-bottom: 3.5%; 

		font: .8em 'apercu';
		color: white;

		cursor: pointer;

		width: 45%;

		margin:auto;
	}
}

@media (min-width: 1100px) {

	.recording_track_a_of_list_a_9809403065,  .recording_track_b_of_list_ab9809403065 {

		max-width: 600px;

	}

}

@media (min-width: 1400px) {

/*	.recording_list_a_9809403065 {
  		grid-area: list_a;
	}

	.recording_list_b_9809403065 {
  		grid-area: list_b;
	}

  	.recording_lists_9809403065 {
    	grid-template-column: 1fr 1fr ;
    	grid-template-areas: 
      	"list_a  list_b";
    	grid-gap: 5%;
  	}*/

	.recording_track_a_of_list_a_9809403065, .recording_track_b_of_list_b_9809403065  {
	
		padding-top: 53px ;
		padding-right: 47px ;
		padding-left: 47px ;
		padding-bottom: 53px ; 	
	}
}
/*===========================================================================*/


/*========================settings page elements=============================*/

@media (max-width: 400px) {

	.settings_page_body {
		display: grid;
		/*grid-template-columns: repeat(9, 1fr); 
		grid-template-rows: repeat(11, 1fr); */
		font: 1.5em 'apercu';
		color:  #a5abb8; 
		
		height: 100%;
		width: 100%;
		
		grid-template-columns: 1fr;
		/*background:*/  /*#f8f8f8;*//* white;*/
	}
}

@media (min-width: 400px) {
	.settings_page_body {
		display: grid;
		/*grid-template-columns: repeat(9, 1fr); 
		grid-template-rows: repeat(11, 1fr); */
		font: 1.5em 'apercu';
		color:  #a5abb8; 
		
		height: 100%;
		width: 100%;
		
		grid-template-columns: 0.3fr 1fr 0.3fr;
		/*background:  #f8f8f8;*/
	}
}

@media (min-width: 1200px) {

	.settings_page_body {
		display: grid;
		/*grid-template-columns: repeat(9, 1fr); 
		grid-template-rows: repeat(11, 1fr); */
		font: 1.5em 'apercu';
		color:  #a5abb8; 
		
		height: 100%;
		width: 100%;
		/*background:  #f8f8f8;*/
		
		grid-template-columns: 1fr 750px 1fr;
	}

}

/*create a white central column enclosing details of the settings page */ 
.settings_box_size_9809403065 {

	grid-column-start: 2;

	/*display: grid;*/
	
	background: /*rgb(252,252,252);*/ rgb(246,248,249);

	/*font-size: 15px;*/

	margin-top: 80px;

	border: solid 1px #ebedf2;
	border-radius: 8px;

	height: 75%;

}


/*profile pic in settings --------------------------------------------------*/

.user_profile_id_9809403065 {

	text-align: center;
	/*display: grid;*/

	font-size: 20px;
	color: black;

	margin-bottom: 10px;
	margin-top: 30px;
}

.user_profile_pic_9809403065 {
	width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
 }



/*setting sections elements -----------------------------------------------------*/

	.settings_sections_titles_9809403065 {
			display: grid;
			border-bottom: 1px solid #ebedf2;
	}

		#settings_my_stats_9809403065, #settings_scheduled_meditation_9809403065, #settings_nudge_9809403065 {
			cursor: pointer;
			margin: auto;
			/*border-bottom: 4px solid #a5abb8;*/
			/*grid-column-start:1;*/
		}

		#settings_scheduled_meditation_9809403065 {
			border-bottom: 4px solid #5c84f1; 
			/*border-radius: 1px;*/
		}
/*		#settings_scheduled_meditation_text_9809403065 {
			color: #5c84f1;
		}*/

		
			#settings_my_stats_text_9809403065, #settings_scheduled_meditation_text_9809403065,#settings_nudge_text_9809403065  {
				/*border-bottom: .5px solid #a5abb8;*/
				cursor: pointer;
				text-align: center;
				font-size: 20px ; 
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 5px;
			}

			#settings_my_stats_text_9809403065:hover,  #settings_scheduled_meditation_text_9809403065:hover ,#settings_nudge_text_9809403065:hover{

				color: #5c84f1 !important;

			}

	@media (min-width: 400px) {
		.settings_sections_titles_9809403065 {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

/*input[type=submit] {
	font: 0.87em "avenir", sans-serif;
	cursor: pointer;
}
*/


.dropdown {
	font: 18px 'apercu';
	/*color: rgb(22,27,37);*/

	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	/*box-shadow: 0 1px 0 1px rgba(0,0,0,.04);*/
	border-radius: 5px;
	border: .5px solid #ebedf2 ;

	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	/*background-color: white;*/
	cursor: pointer;
}



.digits {
	font: 18px 'apercu' ;
	font-color: #313c47;
	width: 30px;

	/*border-radius: 10px;*/
}


/*setting's section element--------------------------------------------------*/

	.user_profile_section_show_9809403065 {
		display: grid;
		color: #313c47; /*asana deep blue*/
		/*color: rgb(22,27,37);*/
		font: 17px 'apercu' ;
		margin-top: 45px;
		line-height: 2;	
		margin-left: 10%;
		margin-right: 10%;
	}
		#settings_options_9809403065, #my_stats_details_9809403065, #nudge_options_9809403065 {
			margin-left: 20px;
			display: block;
		}
			#settings_options_save_9809403065, #nudge_options_save_9809403065 {
				cursor: pointer;
				border-radius: 3px;
				background-color: #5c84f1; /*rgb(22,27,37);*/ /*#1d72e8;*/
				color: white;
				padding: 3px;
				font-weight: bold;
				text-align: center;
				margin: auto;
				width: 20%
			}

			#settings_options_save_9809403065:hover, #nudge_options_save_9809403065:hover {
				background-color: #1d72e8; /*#5CF17F;*/

			}


/*===========================================================================*/





/*==========================bottom fixed nav bar=============================*/
#bottom_fixed_nav_bar_9809403065 {
	position: fixed;
	z-index: 1;
	background-color: white; 
	border: solid 2px #ebedf2;
	
	bottom:0;
	right:0;
	left:0;
	width: 100%;
	
	text-align: left;

	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
	/*grid-template-columns: repeat(auto-fill, minmax(100px,1fr));*/
	align-items: center;

	font-size: 1.3rem;

	/*border-top: 7px solid #a5abb8 ;*/

}

#front_page_9809403065, #meditations_page_9809403065, #settings_9809403065  {
	/*grid-column-start:1;*/
	cursor: pointer;
	margin: auto;
	color: #a5abb8;
	/*background-color: black;*/

}

@media (max-width: 400px) {
	#bottom_fixed_nav_bar_9809403065 {
		height: 150px;
	}
}

@media (min-width: 401px) {
	#bottom_fixed_nav_bar_9809403065 {
		height: 60px;

		grid-auto-flow: column;
	}
}

@media (min-width: 1500px) {

	#bottom_fixed_nav_bar_9809403065 {
		height: 60px;

		grid-template-columns: 1fr 450px 450px 450px 1fr;

		grid-auto-flow: column;
	}

	#front_page_9809403065 {
		grid-column-start: 2;

	}

	#meditations_page_9809403065 {
		grid-column-start: 3;
	}

	#settings_9809403065 {
		grid-column-start: 4;
	}
}



/*
===========================================================================
*/



/*.lower_background_9809403065 {
	display: block;
	grid-row-start:3;
	grid-column-start:1;
	grid-column-end:10;
}*/


/*#timer {
	display: grid;
	align-items: center; 
	justify-content: center;
	height: 100%;
	width: 100%;
	
	
}*/
/*
#timer_control, #proceed  {
	border-radius: 10px;
	padding: 4px; *//*percentage value cause padding-right to not work and i don't know why*/

	/*background-color: #2997ff;
	color: white;
	margin: 2%;
	text-align: center;
	cursor: pointer;
}*/

/*#timer_display, #override_nudge {
	background-color: green;
}
*/