/*make sure something is in front of all other elements using z-index: 
https://stackoverflow.com/questions/31787455/css-fixed-positioning-z-index-in-chrome-extension*/*/

html{
	/*display: grid;*/
	/*font: bold 1.4em, sans-serif  !important;*/

	/* Horizontally center EACH element in a grid with regard to its inline axis*/
	/*justify-content: center;*/
	

	/* Vertically center EACH element in a grid with regard to its cell/track, mor more accurately grid area*/
	/*align-items: center;*/ 
	
	/*height: 100%;
	width: 100%;*/
	/*background-color: #e9ebee;*/	/*fb desktop background*/

}

/*.

an attempt to darken the background but does not pan out well

hmm_472826662848262673{
  -webkit-animation: filter-animation 10s 1;
}


@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: brightness(1);
  }
  
  50% {
    -webkit-filter: brightness(0.4);
  }

  100% {
    -webkit-filter: brightness(1);
  }
}




#darkening_effect_background_472826662848262673 {
  
  min-height: 100%;
  min-width: 1024px;
  
  
  width: 100%;
  height: auto;
  
  
  position: fixed;
  top: 0;
  left: 0;

  z-index:-100000000000000000;
}

@media screen and (max-width: 1024px) { 
  #darkening_effect_background_472826662848262673 {
    left: 50%;
    margin-left: -512px;   
  }
}*/




@font-face {
    font-family: 'apercu';
    src: url('https://cdn.statically.io/gh/starlord92/mediatate/9faf7eaf/font/apercu/ApercuPro.woff2') format('woff2'),
         url('https://cdn.statically.io/gh/starlord92/mediatate/9faf7eaf/font/apercu/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*modal here is the balloon*/
#myModal472826662848262673 {
  display: none;
  /*display: block;*/
  align-items: center;

  position: fixed; 
  z-index: 100000000000; 
  right:7%;
  bottom:10%;
  width: 250px; 
  height: 250px; 

  border-radius: 50%;
  align-content: center;
  
  /*background-color: rgba(0,0,0,0.8); */
  /*background-color: rgba(130,136,143,0.8);*/
  background-color:rgb(247, 239, 228);

}

#skip_meditation_button_66345654628423 {

	display: none;
	/*opacity: 0;*/

	position: absolute;
	top: 50%;
	right: 33%;

	border-radius: 10px;
	padding: 4px; 
	/*background-color: black;*/
	
	margin: 10%;

	text-align: center;
	cursor: pointer;

	font: 13px 'apercu' !important;
  	color:rgb(171,164,157);
}

#begin_meditation_button_66345654628423 {

	position: absolute;
	top: 34%;
	right: 13%;

	border-radius: 10px;
	padding: 4px;
	margin: 10%;

	text-align: center;
	cursor: pointer;

	font: 16px 'apercu' !important;
  	color:rgb(223, 148, 102);

}


.begin_meditation_button_66345654628423:hover,
.begin_meditation_button_66345654628423:focus {
  /*background-color: black;*/
  color: black;
  text-decoration: none;
  cursor: pointer;
}




#myModal472826662848262673 {

  animation-name: balloon;
  animation-duration:6s; 
  animation-timing-function: linear; 
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: paused;

}


@keyframes balloon {
  0% {
  	border-radius: 100%;
    transform: scale(1);
    background-color: rgb(247, 239, 228);

  }
  
  50% {
  border-radius: 100%;
  	transform: scale(1.6);
    
    background-color:  rgb(247, 239, 228);
 
  }

  100% {
  	border-radius: 100%;
    transform: scale(1);
    background-color:  rgb(247, 239, 228);    
  }

}



/*
#myModal472826662848262673 {
  display: block; 
  position: fixed; 
  z-index: 100000000000; 
  right:0;
  bottom:0;
  width: 20%; 
  height: 20%; 
  
  background-color: rgba(0,0,0,0.8); 
  background-color: rgba(130,136,143,0.8);

}



#modal-content66345654628423 {
  	display: block;
  	
  	margin: auto;	  	
	position: fixed;
 	
 	right:0%;
 	bottom:0%;
 	left:0%;
 	top:0%;

background: url('https://cdn.statically.io/gh/starlord92/git-visual/d2984666/morning.jpg') no-repeat center center fixed;


	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
 	
}


#timer5453847387394849{
	display: grid;
	align-items: center; 
	justify-content: center;
	height: 100%;
	width: 100%;
	
	
}

#timer_control535676465768 {
	border-radius: 10px;
	padding: 4px; 
	background-color: #2997ff;
	color: white;
	margin: 2%;
	text-align: center;
	cursor: pointer;
}


	
	#close_button_174162884722728293 {
	  color: #aaaaaa;
	  font-size: 1em;
	  font-weight: bold;

	}

	#close_button_174162884722728293:hover,
	#close_button_174162884722728293:focus {
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	}