/*make sure something is in front of all other elements using z-index: 
https://stackoverflow.com/questions/31787455/css-fixed-positioning-z-index-in-chrome-extension*/

html{
	/*display: grid;*/
	/*font: bold 1.4em, sans-serif  !important;*/

	/* Horizontally center EACH element in a grid with regard to its inline axis*/
	/*justify-content: center;*/
	

	/* Vertically center EACH element in a grid with regard to its cell/track, mor more accurately grid area*/
	/*align-items: center;*/ 
	
	/*height: 100%;
	width: 100%;*/
	/*background-color: #e9ebee;*/	/*fb desktop background*/

}


html{
  -webkit-animation: filter-animation 10s 1;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: brightness(1);
  }
  
  50% {
    -webkit-filter: brightness(0);
  }

  100% {
    -webkit-filter: brightness(1);
  }
}




#darkening_effect_background_472826662848262673 {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index:-100000000000000000;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}





#myModal472826662848262673 {
  display: block; 
  position: fixed; 
  z-index: 100000000000; 
  right:0;
  bottom:0;
  width: 100%; 
  height: 100%; 
  
  background-color: rgba(0,0,0,0.8); 
  background-color: rgba(130,136,143,0.8);

}



#modal-content66345654628423 {
  	display: block;
  	/*border-radius: 6px;*/
  	/*background-color: #fefefe;*/
  	margin: auto;	  	
	position: fixed;
 	/*right:10%;
 	bottom:20%;
 	left:10%;
 	top:20%;*/
 	right:0%;
 	bottom:0%;
 	left:0%;
 	top:0%;

background: url('https://cdn.statically.io/gh/starlord92/git-visual/d2984666/morning.jpg') no-repeat center center fixed;

/*background: url('chrome-extension://cniabmfhflgaankghinamkbojmgidedk/meditation_flow/morning.jpg') no-repeat center center fixed;
*/

	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
 	
}


#timer5453847387394849{
	display: grid;
	align-items: center; 
	justify-content: center;
	height: 100%;
	width: 100%;
	
	
}

#timer_control535676465768 {
	border-radius: 10px;
	padding: 4px; 
	background-color: #2997ff;
	color: white;
	margin: 2%;
	text-align: center;
	cursor: pointer;
}


	
	#close_button_174162884722728293 {
	  color: #aaaaaa;
	  font-size: 1em;
	  font-weight: bold;

	}

	#close_button_174162884722728293:hover,
	#close_button_174162884722728293:focus {
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	}