html, body {
	display: grid;

	font: bold 1.5em "Trebuchet MS", sans-serif;

	justify-content: center;

	align-items: center;
			
	height: 100%;
}

div {
			
	border-radius: 10px;
	padding: 7px;
	background-color: #2997ff;
	color: white;
}