html, body {
	display: grid;
	font: bold 1.5em "Trebuchet MS", sans-serif;

	/* Horizontally center EACH element in a grid with regard to its inline axis*/
	justify-content: center;
	

	/* Vertically center EACH element in a grid with regard to its cell/track, mor more accurately grid area*/
	align-items: center; 
	
	height: 100%;
	width: 100%;
	background-color: #e9ebee;	/*fb desktop background*/
}



#timer {
	display: grid;
	align-items: start; 
	height: 100%;
	width: 100%;
}

#button, #encore {
	border-radius: 10px;
	padding: 2%;	
	background-color: #2997ff;
	color: white;
	margin: 2%;
	cursor: pointer;
	text-align: center;
}


