html, body {
	display: grid;
	font: bold 1.5em "Trebuchet MS", sans-serif;

	/* Horizontally center EACH element in a grid with regard to its inline axis*/
	justify-content: center;
	

	/* Vertically center EACH element in a grid with regard to its cell/track, mor more accurately grid area*/
	/*align-items: center;*/ 
	
	height: 100%;
	width: 100%;
	background-color: #e9ebee;	/*fb desktop background*/
}



#timer {
	display: grid;
	align-items: center; 
	justify-content: center;
	height: 100%;
	width: 100%;
	
	
}

#timer_control  {
	border-radius: 10px;
	padding: 4px; /*percentage value cause padding-right to not work and i don't know why*/

	background-color: #2997ff;
	color: white;
	margin: 2%;
	text-align: center;
	cursor: pointer;
}

/*#timer_display, #override_nudge {
	background-color: green;
}
*/



